*{
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    font-family: "OpenSansRegular", sans-serif;
}

body{
  font-family: "OpenSansRegular", sans-serif;
  font-size: 18px;
  font-weight: normal;
  color: rgb(51, 51, 51);
  line-height: 28px;
}
  
p{
  font-size: 1em;
  margin-top: 20px;
}

.ul{
  padding: 15px;
  /* color: #177ab4; */
}

.ul li {
  margin-bottom: 10px;
}

.ul li::before {
  content: "\21AA";
  margin-right: 10px;
  font-size: 25px;
}
.link{
  display: block;
  width: 70%;
  margin: 20px auto;
  background-color: #f00;
  color: white;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  font-size: 24px;
}
/* p::before {
  content: " ";
  display: inline-block;
  width: 20px;
} */

h2{
  font-size: 1.4em;
  margin-top: 20px;
}
h3{
  font-size: 1.1em;
  margin: 20px 0;
  text-align: center;
  /* color: yellow; */
}
/* h3::before {
  content: "-";
  display: inline-block;
  width: 20px;
  text-align: right;
} */
h4{
  font-size: 1em;

}



  ol,
  ul {
    list-style: none;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0px;
  }
  
  caption,
  th,
  td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
  }
  
  q::before,
  q::after,
  blockquote::before,
  blockquote::after {
    content: none;
  }




  .article{
      padding: 1rem;
  }

  .big-heading{
      font-size: 2rem;
      font-weight: 700;
      margin: 2.2rem 0;
      text-align: center;
      line-height: 1.1;
  }

  .blue{
    /* color: #15a2f3; */
    color: #177ab4;
  }

  .red{
      /* color: red; */
      color: #177ab4;
  }

  @media (max-width : 500px) {
    html{
        font-size: 13px;
    }
  }

  .center{
      text-align: center;
      width: min(80% , 1300px);
      margin: auto;
  }

  .testimony{
      width:90%;
      margin: auto;
      padding: 1rem;
      background-color: #323617;
      color: white;
  }

  .testimony .text h3{
      font-size: 1.6rem;
    margin: 1rem 0 2rem 0;
    }

  .img{
      display: flex;
      justify-content: center;
      width: 60%;
      margin:1.3rem auto;
  }

  .btn{
      width: 90%;
      margin: auto;
      display: flex;
      justify-content: center;
  }

  .btn button{
      font-size: 1.5rem;
      padding: 1em 3em;
      background-color: #15a2f3;
      color: #eee;
      border: none;
      outline: none;
      cursor: pointer;
      margin: 1em 0;
  }

  .btn button:hover{
        background-color: #177ab4;
  }

  .myList {
    padding-left: 50px;
    margin-bottom: 30px;
    list-style-type: decimal;
  }
  
  .myText {
    padding-bottom: 0px !important;
  }
  
  .myText1 {
    font-style: italic;
    font-size: 14px;
    line-height: 1.3;
    text-align: center;
    display: block;
  }
  
  .article__text .myImg {
    width: 100%;
    max-width: 450px;
  }
  
  .myText2 {
    font-size: 24px;
    background-color: #FF0;
    background-color: #177ab4;
    color: white;
    padding: 15px 10px;
    display: block;
    margin: 20px 0;
    line-height: 33px;
  }
  

  a {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
  }

  
  a:hover {
    text-decoration: underline;
  }



  @media (max-width: 530px) {
    body {
      position: relative;
    }
  }

  .page-wrap {
    padding: 0px 10px;
    max-width: 1280px;
    margin: 0px auto; 
    position: relative;
    width: 100%;
  }
  
  @media (max-width: 900px) {
    .page-wrap {
      padding: 0px 24px;
    }
  }
  
  @media (max-width: 530px) {
    .page-wrap {
      padding: 0px;
      overflow: hidden;
    }
  }

  .container{
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(204, 204, 204);
  }

  .container .article{
      /* width: min(90% , 1200px); */
      margin: auto;
  }

 
/*   
  .footer,
  .content {
    clear: both;
  }
   */
  .header {
    width: 100%;
    z-index: 12;
    position: relative;
  }
  
  .header__inner {
    height: 64px;
    background: rgb(0, 149, 218) none repeat scroll 0% 0%;
    position: relative;
    z-index: 7;
  }
  
  @media (max-width: 530px) {
    .header__inner {
      height: 48px;
    }
  }
  
  .header__logo a {
    background: #f00;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    vertical-align: middle;
    line-height: 64px;
    padding: 24px 9px;
  }
  
  .header__logo {
    width: 185px;
    height: 100%;
    position: relative;
    float: left;
  }
  
  @media (max-width: 530px) {
    .header__logo a {
      line-height: 50px;
      padding: 15px 9px;
    }
  }
  
  .nav {
    height: 64px;
    max-width: 920px;
    overflow: hidden;
    position: relative;
  }
  
  @media (max-width: 530px) {
    .nav {
      display: none;
    }
  }
  
  .nav__inner {
    width: 9000px;
  }
  
  .nav li {
    display: block;
    float: left;
    height: 64px;
    margin-right: 1px;
    position: relative;
  }
  
  .nav li a {
    display: block;
    height: 100%;
    font: 16px/64px "OpenSansLight", sans-serif;
    color: rgb(255, 255, 255);
    padding: 0px 24px;
    text-decoration: none;
    transition: background 0.3s ease 0s;
  }
  
  .nav li a:hover {
    background: rgb(0, 165, 242) none repeat scroll 0% 0%;
  }
  
  .nav li {
    perspective: 1000px;
  }
  
  .nav li a {
    position: relative;
    background: rgb(0, 149, 218) none repeat scroll 0% 0%;
    transition: transform 0.3s ease 0s;
    transform-origin: 50% 0px 0px;
    transform-style: preserve-3d;
  }
  
  .nav li:first-child::after,
  .nav__item_first::after {
    display: block;
    content: " ";
    position: absolute;
    z-index: 200;
    bottom: 0px;
    left: 0px;
    width: 40px;
    height: 26px;
  }
  
  .nav li a::before {
    display: block;
    position: absolute;
    top: 100%;
    left: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    background: rgb(9, 101, 160) none repeat scroll 0% 0%;
    content: attr(data-hover);
    transition: background 0.3s ease 0s;
    transform: rotateX(-90deg);
    transform-origin: 50% 0px 0px;
  }
  
  .nav li:hover a,
  .nav li:focus a {
    transform: rotateX(90deg) translateY(-22px);
  }
  
  .nav li:hover a::before,
  .nav li:focus a::before {
    background: rgb(36, 131, 197) none repeat scroll 0% 0%;
  }
  
  .nav_mobile {
    display: none;
  }
  
  @media (max-width: 530px) {
    .nav_mobile {
      display: block;
      width: 270px;
      position: absolute;
      top: 100px;
      right: 0px;
      z-index: 2;
      height: 100%;
      background: rgb(34, 34, 34) none repeat scroll 0% 0%;
    }
  
    .nav_mobile::after {
      position: absolute;
      height: 100%;
      width: 1px;
      left: -1px;
      top: 0px;
      box-shadow: 2px 0px 14px 1px rgb(51, 51, 51);
      content: " ";
    }
  
    .nav_mobile .search_mobile {

      height: 48px;
      background: rgb(0, 149, 218) none repeat scroll 0% 0%;
    }
  
    .nav_mobile .search_mobile .search__form {
        border: 10px solid red;
      width: 225px;
      top: 9px;
    }
  
    .nav_mobile .search_mobile .search__text {
      width: 180px;
      padding: 0px 10px;
    }
  
    .nav_mobile .nav__list_mobile li {
      height: 48px;
      line-height: 48px;
      color: rgb(255, 255, 255);
      border-bottom: 1px solid rgb(0, 0, 0);
    }
  
    .nav_mobile .nav__list_mobile li a {
      font: 16px/48px "OpenSansLight", sans-serif;
      padding-left: 24px;
    }
  
    .nav_mobile .nav__list_mobile li .header__air {
      padding: 15px 24px 0px;
      border-left: medium none;
      width: auto;
      float: none;
    }
  } 

  .header__menu-link {
    display: none;
  }
  
  @media (max-width: 530px) {
    .header__menu-link {
      display: block;
      position: absolute;
      top: 0px;
      right: 0px;
      background: transparent url('//viposidn.com/content/gj8kCVcUxSx1Gnj/img/icons.png')
        no-repeat scroll 13px -394px;
      width: 48px;
      height: 48px;
      border-left: 1px solid rgb(22, 123, 175);
      z-index: 9;
    }
  }
  
  .header__air {
    float: right;
    border-left: 1px solid rgb(36, 131, 197);
    padding: 15px 16px 0px;
    height: 49px;
  }
  
  @media (max-width: 530px) {
    .header__air {
      display: none;
    }
  }
  
  .header__air-logo {
    display: block;
    width: 70px;
    height: 18px;
    background: transparent url('//viposidn.com/content/gj8kCVcUxSx1Gnj/img/logo_r24_s.png')
      repeat scroll 0% 0%;
  }
  
  .header__air-title {
    display: block;
    font: 11px/11px Tahoma, sans-serif;
    color: rgb(133, 204, 237);
    padding-top: 5px;
    text-decoration: none;
  }
  
  .search {
    padding: 18px 24px 0px;
    float: right;
    background: transparent url('//viposidn.com/content/gj8kCVcUxSx1Gnj/img/icons.png')
      no-repeat scroll 24px -193px;
    width: 20px;
    height: 30px;
  }
  
  .search .search__form {
    display: none;
  }
  
  @media (max-width: 530px) {
    .search {
      display: none;
    }
  }
  
  .search__form {
    display: block;
    position: absolute;
    width: 30px;
    top: 18px;
    right: 20px;
    background: rgb(0, 105, 160) none repeat scroll 0% 0%;
    border-radius: 18px;
    overflow: hidden;
    height: 30px;
  }
  
  .search__form input {
    float: left;
    height: 30px;
  }
  
  .search__form .search__text {
    border: medium none;
    outline: medium none;
    background: transparent none repeat scroll 0% 0%;
    width: 0px;
    color: rgb(255, 255, 255);
    padding: 0px 3px;
    font: 12px/17px "RobotoLight", sans-serif;
    display: block;
  }
  
  .search__form .search__submit {
    display: block;
    background: transparent url('//viposidn.com/content/gj8kCVcUxSx1Gnj/img/icons.png')
      no-repeat scroll 0px -211px;
    width: 24px;
    border: medium none;
    cursor: pointer;
    float: right;
  }
  
  .post-nav {
    height: 22px;
    border-bottom: 1px dotted rgb(204, 204, 204);
    padding: 16px ;
    font: 14px/22px "OpenSansLight";
  }
  
  .post-nav span a {
    color: rgb(37, 93, 137);
    display: block;
    float: left;
    padding-right: 16px;
    border-left: 1px solid rgb(204, 204, 204);
    padding-left: 16px;
  }
  
  .post-nav span a:first-child {
    border-left: medium none;
    padding-left: 0px;
  }
  
  /* .post-nav span a:last-child {
    font-family: "OpenSansSemibold";
  }
   */
  @media (max-width: 530px) {
    .post-nav .post-nav__all-link {
      display: none;
    }
  }
  
  .post-nav .post-nav__all-link::after {
    content: "";
    display: block;
    position: absolute;
    right: 0px;
    top: -2px;
    width: 25px;
    height: 25px;
    background: transparent url('//viposidn.com/content/gj8kCVcUxSx1Gnj/img/icons.png')
      no-repeat scroll -1px -453px;
  }

  @media (max-width: 900px) {
  
    .page-wrap {
      padding: 0px 24px 0px;
    }
  }
  
  @media (max-width: 1024px) {
    .page-wrap {
      padding: 0px;
    }
  }

  @media (max-width: 530px) {  
    .nav_mobile {
      bottom: 1px;
      z-index: 1;
      height: auto;
      top: 0px;
      display: none;
    }
  
  }
  
  img {
    max-width: 100%;
  }
  
  a:hover {
    text-decoration: none;
  }

  .comment-block {
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
  }
  .mycity{
    border: 1px solid #757575;
    padding: 1px;
  }

  .mycity span{
    background-color: #757575;
    color: white;
    font-size: 12px;
    padding: 1px 3px;
  }
  .comment-user {
    min-height: 130px;
    clear: both;
    border-bottom: 1px solid rgb(204, 204, 204);
    margin-bottom: 20px;
  }
  
  .comment-block .user-name {
    font-weight: bold;
    padding: 0px 0px 10px;
  }
  
  .comment-block img {
    width: 60px;
    float: left;
    margin: 0px 20px 0px 0px;
  }
  
  .comment-user:last-child {
    border-bottom: medium none;
  }
  
  .photo {
    display: block;
    font-weight: 700;
    cursor: pointer;
  }
  
  .photo:before {
    content: '+';
    position: relative;
    top: -1px;
  }
  
  .photo.active:before {
    content: '-';
  }
  
  .photo+span {
    display: none;
  }
  
  @media (max-width: 1050px) {
    .nav {
      display: none;
    }
  }
